@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yusei+Magic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*,
html,
body {
	padding: 0;
	margin: 0;
	// font-family: 'Poppins', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: rgb(24, 26, 27);
}

html {
	--scrollbarBG: #0e0d0d;
	--thumbBG: #2c2929;
}
body::-webkit-scrollbar {
	width: 15px;
}
body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 10px;
	border: 3px solid var(--scrollbarBG);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	overflow: visible;
	color: rgb(146, 156, 166);
}

p {
	color: rgb(83, 85, 94);
}

a {
	color: rgb(86, 88, 108);
	&:hover,
	&:active,
	&:focus {
		color: rgb(22, 151, 202);
		text-decoration: none;
	}
}

input {
	border-radius: 20px;
	background-color: rgb(49, 52, 56);
	border: none;
	max-width: 900px;
	letter-spacing: 1px;

	&:active,
	&:focus,
	&:hover {
		background-color: rgb(49, 52, 56);
		outline: none !important;
		border: none;
	}
	// box-shadow: 0px 3px 6px black;
}

.about-page {
	width: 100%;
	height: 80vh;
	display: flex;
	padding-top: 100px;
	justify-content: center;
	.cont {
		max-width: 600px;
	}
	h1 {
		padding-top: 30px;
		font-weight: bold;
		text-align: center;
	}
	p {
		text-align: center;
		margin-top: 40px;
		letter-spacing: 1px;
		font-weight: 600;
		color: rgb(132, 133, 142);
	}
	a {
		color: rgb(19, 193, 236);
	}
}

.users-list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 220px);
	grid-gap: 4rem;
	padding-top: 5vh;
}

.cards {
	// background-color: rgba(172, 172, 180, 0.347);
	border-radius: 20px;
	cursor: pointer;
	img {
		border-radius: 50px;
	}
	.card-body {
		padding: 20px 0px;
		overflow: visible !important;
	}
	h4 {
		color: rgb(117, 117, 127);
		overflow: visible;
		text-shadow: 0px 4px 5px black;
	}

	.more-btn {
		color: rgb(98, 96, 110);
	}
}

.search-container {
	padding-top: 70px;
	h1 {
		text-shadow: 0px 0px 10px black;
		font-weight: 900;
		font-size: 3rem;
	}
	small {
		text-transform: capitalize;
	}
	.search-input {
		border-radius: 20px;
		padding: 20px 20px;
		background-color: rgb(49, 52, 56);
		border: none;
		color: rgb(191, 199, 214);
		max-width: 900px;
		display: block;
		margin: auto;
		&:active,
		&:focus,
		&:hover {
			background-color: rgb(49, 52, 56);
			outline: none !important;
			border: none;
		}
		box-shadow: 0px 3px 6px black;
	}

	.search-button {
		display: block;
		margin: auto;
		width: 200px;
		text-transform: uppercase;
		color: black;
		font-weight: 600;
		font-weight: 700;
		background-image: linear-gradient(
			to right,
			rgb(14, 95, 226),
			rgb(159, 18, 60)
		);
		border: none;
		transition: all 0.2s ease-in;

		&:hover,
		&:active,
		&:focus {
			letter-spacing: 0.9px;
			color: black;
			box-shadow: 0px 2px 3px black;
		}
	}
}

.loader-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-main {
	background-image: linear-gradient(
		to right,
		rgb(14, 95, 226),
		rgb(159, 18, 60)
	);
	z-index: 10;
	box-shadow: 0px 3px 5px black;
	position: fixed;
	left: 0;
	right: 0;

	h3 {
		color: rgb(19, 19, 22);
		font-family: 'Poppins', sans-serif;
		// text-transform: uppercase;
		font-weight: 700;
		cursor: pointer;
	}

	ul {
		li {
			a {
				color: rgb(19, 19, 22);
				font-weight: 600;
			}
		}
	}
}

.alert-div {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	width: max-content;
	background-color: rgba(0, 0, 0, 0.681);
	border: none;
	font-weight: 600;
}

.user-page-div {
	padding-top: 100px;
	.user-main-container {
		background-color: rgba(8, 8, 8, 0.361);
		height: 80vh;
		overflow: hidden;
		.left-container {
			// border-right: 1px solid rgb(74, 70, 70);

			.txt1 {
				font-size: 1.5em;
				color: rgb(173, 187, 187);
				font-weight: bold;
				margin-bottom: 0px;
			}
			.txt2 {
				font-size: 1.1em;
				color: rgb(130, 140, 140);
				font-weight: 600;
			}
			.bio {
				color: rgb(110, 112, 116);
			}
			img {
				display: block;
				margin: auto;
				width: 60%;
				min-width: 200px;
				height: auto;
				border-radius: 50px;
				box-shadow: 0px 10px 10px black;
				margin-bottom: 30px;
			}
			p {
				// color: rgb(137, 143, 156);
				text-align: center;
			}
			.head-left {
				display: block;
				color: rgb(156, 162, 168);
			}
			.left-head {
				font-size: 0.8em;
				color: #2c2929;
			}
		}
		.right-container {
			height: 80vh;
			overflow-y: scroll;
			.repo-line {
				margin-top: 60px;
				text-align: center;
				font-weight: 800;
				text-shadow: 0px 5px 10px black;
			}
			.repo-form {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 30px 0px 10px 0px;
				overflow: visible;
				.repo-input {
					width: 70%;
					min-width: 200px;
					padding: 8px 20px;
					font-weight: 500;
					letter-spacing: 1px;
					color: #9ea1b0;
					box-shadow: 0px 3px 5px black;
				}
				.repo-sbt {
					float: right;
					width: 40px;
					height: 40px;
					margin-left: 20px;
					background-image: linear-gradient(
						to right,
						rgb(14, 95, 226),
						rgb(159, 18, 60)
					);
					box-shadow: 0px 3px 6px black;

					border-radius: 50%;
					border: none;
					padding: 5px;
				}
			}
			.top-grid {
				margin-top: 20px;
				.top-grid-head {
					color: rgb(121, 126, 133);
					text-align: center;
					font-weight: 600;
					letter-spacing: 1px;
				}
				.top-grid-text {
					color: rgb(178, 202, 202);
					text-align: center;
					font-weight: 600;
					font-size: 1.2em;
				}
			}
			.repo-grid {
				.repo-container {
					background-color: #18181a;
					border-radius: 5px;
					box-shadow: 0px 3px 10px black;
					h5 {
						font-weight: 600;
						color: rgb(151, 154, 164);
					}
					p {
						font-size: 0.9em;
						color: rgb(110, 112, 116);
						padding-left: 20px;
					}
					.name_links {
						font-size: 0.7em;
						overflow-y: hidden;
						font-weight: normal;
					}
					small {
						font-size: 0.9em;
						font-weight: bold;
					}
					.icon_repo {
						transform: translate(-2px, 10);
					}
					.repo-bottom-list {
						color: rgb(134, 147, 159);
						margin-left: 5px;
						margin-top: 3px;
						font-weight: bold;
						letter-spacing: 1px;
					}
				}
			}
		}
	}
}

.right-container {
	--scrollbarBG: #0e0d0d;
	--thumbBG: #2c2929;
}
.right-container::-webkit-scrollbar {
	width: 15px;
}
.right-container {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.right-container::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
.right-container::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 10px;
	border: 3px solid var(--scrollbarBG);
}

@media only screen and (max-width: 990px) {
	.user-page-div {
		padding: 50px 0px 0px 0px !important;
	}
	.user-main-container {
		width: 100%;
		height: auto !important;
	}
	.right-container {
		overflow: hidden !important;
		height: auto !important;
	}
}
