@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Yusei+Magic&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #181a1b;
}

html {
  --scrollbarBG: #0e0d0d;
  --thumbBG: #2c2929;
}

body::-webkit-scrollbar {
  width: 15px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 10px;
  border: 3px solid var(--scrollbarBG);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-y: hidden;
  color: #929ca6;
}

.users-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (220px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 220px);
  grid-gap: 4rem;
  padding-top: 5vh;
}

.cards {
  border-radius: 20px;
}

.cards img {
  border-radius: 50px;
}

.cards h4 {
  color: #5c5c62;
  text-shadow: 0px 4px 5px black;
}

.cards .more-btn {
  color: #62606e;
}

.search-container {
  padding-top: 100px;
}

.search-container h1 {
  text-shadow: 0px 0px 10px black;
  font-weight: 900;
  font-size: 3rem;
}

.search-container small {
  text-transform: capitalize;
}

.search-container .search-input {
  border-radius: 20px;
  padding: 20px 20px;
  background-color: #313438;
  border: none;
  color: #bfc7d6;
  max-width: 900px;
  display: block;
  margin: auto;
  -webkit-box-shadow: 0px 3px 6px black;
          box-shadow: 0px 3px 6px black;
}

.search-container .search-input:active, .search-container .search-input:focus, .search-container .search-input:hover {
  background-color: #313438;
  outline: none !important;
  border: none;
}

.search-container .search-button {
  display: block;
  margin: auto;
  width: 200px;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  background-image: -webkit-gradient(linear, left top, right top, from(#0e5fe2), to(#9f123c));
  background-image: linear-gradient(to right, #0e5fe2, #9f123c);
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.search-container .search-button:hover, .search-container .search-button:active, .search-container .search-button:focus {
  letter-spacing: 0.9px;
  color: black;
  -webkit-box-shadow: 0px 2px 3px black;
          box-shadow: 0px 2px 3px black;
}

.navbar-main {
  background-image: -webkit-gradient(linear, left top, right top, from(#0e5fe2), to(#9f123c));
  background-image: linear-gradient(to right, #0e5fe2, #9f123c);
  -webkit-box-shadow: 0px 3px 5px black;
          box-shadow: 0px 3px 5px black;
  position: fixed;
  left: 0;
  right: 0;
}

.navbar-main h3 {
  color: #131316;
  text-transform: uppercase;
  font-weight: 800;
}

.navbar-main ul li a {
  color: #131316;
  font-weight: 600;
}

.alert-div {
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.681);
  border: none;
  font-weight: 600;
}
/*# sourceMappingURL=App.css.map */